 

body{
    background-color:#abe1ed;
}

.header{
    background-color:#1a3775;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

